# Logs
logs
*.log

# Dependencies & Build
node_modules
dist
dist-ssr
*.tsbuildinfo
.vite

# Environment & Secrets
.env
.env.*
!.env.example
client_secret_*.json

# Database (Prisma / SQLite)
*.db
*.db-journal
/prisma/dev.db

# ALLOW specific data files
# ✅ Garante que suas marcações manuais SEJAM enviadas ao Git
!prisma/markers_backup.json

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sln
*.sw?